<header>
  <nav>
    <ul class="nav">
      <div class="nav-left">
        <li class="li-logo">
          <a href="/"><img src="./assets/logo.svg" class="logo" /></a>
        </li>
        <li><a href="/">Kopen</a></li>
        <li><a href="/about">Huren</a></li>
        <li><a href="/contact">Verkopen</a></li>
      </div>
      <div class="nav-right">
        <li>
          <a href="/users">
            <img src="./assets/icons/house.svg"/>
            <span>Mijn Huis</span>
          </a>
        </li>
        <li>
          <a href="/profile">
            <img src="./assets/icons/profile.svg"/>
            <span>Robin</span>
          </a>
        </li>
      </div>
    </ul>
  </nav>
</header>