:root {
  --primary-color: #f7a100;
  --primary-color-2: #de9000;

  --blue: #0071b3;
  --blue-light: #E6F2F7;

  --gray: #616161;
  --border-color: hsl(-0 0% 90%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.logo {
  width: 6.3125rem;
  height: auto;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

ul.nav {
  list-style: none;
  display: flex;
  max-width: 61.5rem;
  padding: 0rem 0.5rem;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  width: 100%;
}

.nav-left {
  display: flex;
  height: 3.75rem;
  justify-content: center;
  align-items: center;
}

.nav-right {
  display: flex;
  height: 3.75rem;
  justify-content: center;
  align-items: center;
}

nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 0.75rem;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;

  font-family: Proxima Nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-right a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.nav-right span {
  height: 1rem;
}

.nav-right img {
  width: 1.5rem;
  height: 1.5rem;
}

nav li:hover {
  cursor: pointer;
  background-color: var(--primary-color-2);
}

nav li.li-logo:hover {
  background-color: var(--primary-color);
}

ul.houses {
  background-color: var(--blue-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  gap: 1rem;
  padding: 1rem;
  width: 90vw;
  margin: auto;
}

.house-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  /* border-radius: 0.5rem; */
  max-width: 20rem;
  min-width: 12rem;
  width: 22vw;
  height: 22rem;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.house-card div {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
}

.house-card a {
  width: 100%;
  height: 100%;
}

.house-card img {
  width: auto;
  height: 15rem;
}

.house-card h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--blue);

}

.house-card span {
  font-weight: 400;
  color: black;
}

.delete-house {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  color: black;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-top: none;
  border-right: none;
  cursor: pointer;

}

.underlined {
  text-decoration: underline;
}

.rating-form {
  align-self: flex-end
}

.rating-form button {
  background: none;
	color: transparent;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  height: 1rem;
  width: 1rem;
}

.rating-form svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
}

.rating-form polygon {
  stroke: var(--gray);
  stroke-width: 3px
}

.rating-form button:hover {
  color: var(--primary-color-2);
}

/* Fill rating stars up to current rating count */
/* Explanation: https://stackoverflow.com/a/74145405 (CC BY-SA 4.0) */

.rating-form[data-current-rating="1"] > button:not( :nth-child( 1 ) ~ button )  {
  color: var(--primary-color);
}

.rating-form[data-current-rating="2"] > button:not( :nth-child( 2 ) ~ button ) {
  color: var(--primary-color);
}

.rating-form[data-current-rating="3"] > button:not( :nth-child( 3 ) ~ button )  {
  color: var(--primary-color);
}

.rating-form[data-current-rating="4"] > button:not( :nth-child( 4 ) ~ button )  {
  color: var(--primary-color);
}

.rating-form[data-current-rating="5"] > button:not( :nth-child( 5 ) ~ button )  {
  color: var(--primary-color);
}